/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* TYPOGRAPHY */
body{
    font-family: "Open sans", serif;
}

h1{
    font-size: 60px;
    margin-left: 30px;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 18px;
}

.small{
    font-size: 12px;
}

.smaller{
    font-size: 13px;
}



/* GENERAL */
.container-large{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 40px;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.block{
    display: block;
}

.gray{
    color: darkgray;
}

.blue{
    color: #0061FE;
}

i{
    margin-right: 4px;
}

img{
    max-width: 100%;
}



/* BUTTONS */
.btn-primary{
    background-color: #0061FE;
    padding: 6px 14px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.btn-secondary{
    background-color: white;
    border: 1px solid black;
    padding: 8px 12px;
    cursor: pointer;
}



/* HEADER */
header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 14px;
    padding: 20px 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}

 .nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
 }

.nav-left ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-left ul a{
    text-decoration: none;
    color: inherit;
}


.nav-right ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-right ul a{
    text-decoration: none;
    color: inherit;
}



/* MAIN */
/* SECTION 1 */
.azure{
    background-color: #B4D0E6;
    padding-top: 50px;
    margin-bottom: 130px;
}

.hero{
    display: flex;
    position: relative;
    top: 70px;
}

.hero-left{
    width: 75%;
    position: relative;
}

.hero-left > .btn-primary{
    display: block;
    margin: 30px 0;
    padding: 10px;
}

.hero-left > i{
    font-size: 35px;
    position: absolute;
    bottom: 80px;
    left: 0;
}

.hero-right{
    flex-grow: 1;
}



/* SECTION 2 */
.container > input{
    margin: 40px 0;
}

.container > .small{
    margin-right: 30px;
}

.container-plan{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.plan{
    border: 1px solid darkgray;
    padding: 35px;
    font-size: 14px;
    min-height: 840px;
}

.container-plan > .plan{
    width: calc(100% / 3);
}

.plan-header{
    text-align: center;
    border: 1px solid darkgray;
    padding: 5px;
}

.plan > h3{
    margin-bottom: 10px;
}

.plan > span.block{
    margin-top: 10px;
}

.plan ul{
    list-style: none;
    margin: 30px 0;
}

.plan ul > li{
    margin-bottom: 20px;
}

.plan ul a{
    text-decoration: none;
    color: inherit;
}

.plan > .btn-primary{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 0;
}

hr{
    width: 40px;
    margin: 20px 0;
}

.plan-bottom{
    border: 1px solid darkgray;
    display: flex;
    padding: 30px;
    margin-bottom: 200px;
}

.plan-bottoml{
    width: 78%;
}

.plan-bottomr{
    flex-grow: 1;
}

.plan-bottoml > h3{
    margin-bottom: 10px;
}

p.small{
    margin-top: 35px;
}

.plan-bottomr > .btn-primary{
    width: 100%;
    padding: 10px 0;
}


/* SECTION 3 */
.container-partner{
    display: flex;
    margin-bottom: 150px;
}

.partner-left{
    width: 55%;
}

.partner-right{
    width: 45%;
    padding: 50px 70px 0 50px;
}

.partner-right > p{
    margin: 15px 0 30px 0;
}


/* SECTION 4 */
.container-tools{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: 80px 0 200px 0;
}

.container-tools > .tool{
    width: calc(90% / 3);
    margin-bottom: 20px;
}

.tool > h3{
    margin-bottom: 30px;
}

.container-tools-large{
    margin-bottom: 200px;
}

.container-tools-large > h2{
    margin-bottom: 35px;
}

.container-tools-large a{
    font-size: 14px;
    margin-top: 35px
}

/* FOOTER */
footer{
    background-color: #000;
    color: white;
    padding: 60px 0;
}

.container-footer{
    display: flex;
    justify-content: space-between;
}


.container-footer ul{
    list-style: none;
}

.container-footer ul a{
    text-decoration: none;
    color: inherit;
}

.container-footer h4{
    margin-bottom: 25px;
}

.container-footer ul > li{
    margin-bottom: 12px;
}

.container-large hr{
    width: 120px;
    margin: 80px 0 40px 0;
}

.container-large span > i:first-child{
    margin-right: 5px;
}

.container-large span > i:last-child{
    margin-left: 5px;
}