/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TYPOGRAPHY */
body{
    font-family: "Open sans", serif;
}

h1{
    font-size: 60px;
}

/* GENERAL */
.container-large{
    max-width: 1000px;
    margin: 0 auto;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

/* BUTTONS */
.btn-primary{
    background-color: #0061FE;
    padding: 4px 8px;
    color: #FFFFFF;
    border: none;
}

/* HEADER */
header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 14px;
    padding: 20px 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}

 .nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
 }

.nav-left ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-left ul a{
    text-decoration: none;
    color: inherit;
}


.nav-right ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-right ul a{
    text-decoration: none;
    color: inherit;
}


/* MAIN */
.azure{
    background-color: #B4D0E6;
    padding-top: 50px;
}

.hero{
    display: flex;
    position: relative;
    top: 70px;
}

.hero-left{
    width: 75%;
    position: relative;
}

.hero-left > .btn-primary{
    display: block;
    margin: 20px 0;
    padding: 8px;
}

.hero-left > i{
    font-size: 35px;
    position: absolute;
    bottom: 80px;
    left: 0;
}

.hero-right{
    flex-grow: 1;
}

img{
    max-width: 100%;
}